<div id="sidebarWrap">
    <div id="title">
        NIRVANA
    </div>
    <div class="isActive"> 
        <span class="icon">
            <img src="../../assets/icons/home.svg" alt="Girl in a jacket" width="18" height="18">
        </span>
        <span>
            Dashboard
        </span>
    </div>
    <div>
        <span class="icon">
            <img src="../../assets/icons/carbon_user-profile.svg" alt="Girl in a jacket" width="18" height="18">
        </span>
        <span>
            Student reports
        </span>
    </div>
    <div>
        <span class="icon">
            <img src="../../assets/icons/mdi_timetable.svg" alt="Girl in a jacket" width="18" height="18">
        </span>
        <span>
            Timetable
        </span>
    </div>
</div>
