/* You can add global styles to this file, and also import other style files */

@import "./assets/theme/colors";
@import "./assets/theme/functions";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$font-normal: 14px;

%rawFormat{
  height:100%;
  width:100%;
}
%centering{
  display:flex;
  justify-content:center;
  align-items:center;
}
router-outlet ~ * {
    position: absolute;
    width: calc(100% - 250px);
    height: 100%;
    right: 0;
}

html, body, app-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: var(--mainBackground);
}

* {
    font-family: "Questrial";//,"Ubuntu", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color:#553B76;
}
  