.home{
    padding-top: 80px;
    display:grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
}
.btn{
  background-color: #553B76;
  padding: 10px 20px;
}
.dashboardTitle{
  display:flex;
  width: 20%;
}


.bgImg{
  position: absolute;
  bottom:0;
  right:0;
}